<html>
<head>
  <title>Bookshop</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
  <div class="login">
    <form id="contactform" class="rounded" method="post" action="login">
      <h3>Login</h3>
   
      <div class="field">
          <label for="name">Username:</label>
          <input type="text" class="input" name="username" id="name" />
          <p class="hint">Enter your name.</p>
      </div>
       
      <div class="field">
          <label for="email">Password:</label>
          <input type="password" class="input" name="password" id="email" />
          <p class="hint">Enter your password.</p>
      </div>
   
      <input type="submit" name="Submit"  class="button" value="Submit" />
    </form>
  </div>
</body>